.knowledge-content-child,
.knowledge-header-child {
  height: 743px;
  width: 1369px;
  position: relative;
  background-color: #6ec1e4;
  display: none;
  max-width: 100%;
}
.knowledge-header-child {
  width: 1183px;
  height: 639px;
  border-radius: 20px;
  background-color: #fff;
}
.koleksi-pengetahuan1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 8;
}
.knowledge-title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 47px;
  box-sizing: border-box;
  max-width: 100%;
}
.kesehatan-mental1,
.pelajari-dan-pahami1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  z-index: 8;
}
.kesehatan-mental1 {
  align-self: stretch;
}
.knowledge-description {
  width: 342px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
  max-width: 100%;
}
.jelajahi-koleksi-pengetahuan1 {
  align-self: stretch;
  position: relative;
  font-size: 24px;
  font-family: Poppins;
  z-index: 8;
}
.knowledge-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 29px;
  max-width: 100%;
}
.kunjungi-koleksi-pengetahuan1 {
  width: 345px;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins;
  display: inline-block;
  max-width: 100%;
  z-index: 8;
}
.knowledge-info-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 37px;
  max-width: 100%;
  text-align: left;
  font-family: Inter;
}
.knowledge,
.knowledge-content,
.knowledge-header {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.knowledge-header {
  width: 1183px;
  border-radius: 20px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 76px 58px 159px 606px;
  gap: 63px;
  z-index: 7;
}
.knowledge,
.knowledge-content {
  flex-direction: row;
}
.knowledge-content {
  flex: 1;
  background-color: #6ec1e4;
  justify-content: center;
  padding: 60px 20px 44px;
  z-index: 5;
}
.knowledge {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 82px;
  text-align: center;
  font-size: 36px;
  color: #000;
  font-family: "Inria Serif";
}
@media screen and (max-width: 1200px) {
  .knowledge-header {
    gap: 31px;
    padding-left: 303px;
    padding-right: 29px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .kesehatan-mental1,
  .koleksi-pengetahuan1,
  .pelajari-dan-pahami1 {
    font-size: 29px;
  }
  .knowledge {
    padding-bottom: 53px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .knowledge-title-container {
    padding-left: 23px;
    padding-right: 23px;
    box-sizing: border-box;
  }
  .knowledge-info-parent {
    gap: 18px;
  }
  .knowledge-header {
    gap: 16px;
    padding-left: 151px;
    padding-top: 49px;
    padding-bottom: 103px;
    box-sizing: border-box;
  }
  .knowledge-content {
    padding-top: 39px;
    padding-bottom: 29px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .kesehatan-mental1,
  .koleksi-pengetahuan1,
  .pelajari-dan-pahami1 {
    font-size: 22px;
  }
  .jelajahi-koleksi-pengetahuan1 {
    font-size: 19px;
  }
  .kunjungi-koleksi-pengetahuan1 {
    font-size: 16px;
  }
  .knowledge-header {
    padding-left: 20px;
    box-sizing: border-box;
  }
  .knowledge {
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
